# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [3]:
# Import here.
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [6]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = '../data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [8]:
# Count by hand. (lol kidding)
num_rows, num_columns = df_food.shape
print(f"The dataset contains {num_rows} rows and {num_columns} columns.")

The dataset contains 125 rows and 61 columns.

What are the columns and their types in this data set?

In [12]:
# Show the column names and their types.
print(df_food.dtypes)

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [13]:
# Remove ‚Äòem.

df_food = df_food[['calories_day', 'weight', 'Gender']]
print(df_food.head())

   calories_day                    weight  Gender
0           NaN                       187       2
1           3.0                       155       1
2           4.0  I'm not answering this.        1
3           3.0             Not sure, 240       1
4           2.0                       190       1

What about `NaN`s? How many are there?

In [17]:
# Count ‚Äòem.
nan_counts = df_food.isna().sum()
print(nan_counts)

calories_day    0
weight          0
Gender          0
dtype: int64

We gotta remove those `NaN`s‚Äïthe entire row.

In [15]:
# Drop ‚Äòem.
df_food = df_food.dropna()

print(df_food.head())

   calories_day                    weight  Gender
1           3.0                       155       1
2           4.0  I'm not answering this.        1
3           3.0             Not sure, 240       1
4           2.0                       190       1
5           3.0                       190       1

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [18]:
# Fix that.
df_food['calories_day'] = pd.to_numeric(df_food['calories_day'], errors='coerce')
df_food = df_food.dropna()
print(df_food.head())

   calories_day                    weight  Gender
1           3.0                       155       1
2           4.0  I'm not answering this.        1
3           3.0             Not sure, 240       1
4           2.0                       190       1
5           3.0                       190       1

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [20]:
# Savey save!

cleaned_data_path = '../data/cleaned_food_data.csv'
df_food.to_csv(cleaned_data_path, index=False)
print(f"Cleaned data saved to {cleaned_data_path}")

Cleaned data saved to ../data/cleaned_food_data.csv

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [23]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).

salary_data_set_path = '../data/ask_a_manager_salary_survey_2021_responses.tsv'

df_salary = pd.read_csv(salary_data_set_path, sep='\t')

print(df_salary.head())

            Timestamp How old are you?  What industry do you work in?  \
0  4/27/2021 11:02:10            25-34   Education (Higher Education)
1  4/27/2021 11:02:22            25-34              Computing or Tech
2  4/27/2021 11:02:38            25-34  Accounting, Banking & Finance
3  4/27/2021 11:02:41            25-34                     Nonprofits
4  4/27/2021 11:02:42            25-34  Accounting, Banking & Finance

                                  Job title  \
0        Research and Instruction Librarian
1  Change & Internal Communications Manager
2                      Marketing Specialist
3                           Program Manager
4                        Accounting Manager

  If your job title needs additional context, please clarify here:  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  \
0                                             55,000
1                                             54,600
2                                             34,000
3                                             62,000
4                                             60,000

   How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.  \
0                                                0.0
1                                             4000.0
2                                                NaN
3                                             3000.0
4                                             7000.0

  Please indicate the currency  \
0                          USD
1                          GBP
2                          USD
3                          USD
4                          USD

  If "Other," please indicate the currency here:   \
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN

  If your income needs additional context, please provide it here:  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  What country do you work in?  \
0                United States
1               United Kingdom
2                           US
3                          USA
4                           US

  If you're in the U.S., what state do you work in? What city do you work in?  \
0                                     Massachusetts                    Boston
1                                               NaN                 Cambridge
2                                         Tennessee               Chattanooga
3                                         Wisconsin                 Milwaukee
4                                    South Carolina                Greenville

  How many years of professional work experience do you have overall?  \
0                                          5-7 years
1                                       8 - 10 years
2                                        2 - 4 years
3                                       8 - 10 years
4                                       8 - 10 years

  How many years of professional work experience do you have in your field?  \
0                                          5-7 years
1                                          5-7 years
2                                        2 - 4 years
3                                          5-7 years
4                                          5-7 years

  What is your highest level of education completed? What is your gender?  \
0                                    Master's degree                Woman
1                                     College degree           Non-binary
2                                     College degree                Woman
3                                     College degree                Woman
4                                     College degree                Woman

  What is your race? (Choose all that apply.)
0                                       White
1                                       White
2                                       White
3                                       White
4                                       White

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [24]:
# Count by hand. I‚Äôm dead serious.

num_rows, num_columns = df_salary.shape
print(f"The dataset contains {num_rows} rows and {num_columns} columns.")

The dataset contains 28062 rows and 18 columns.

What are the columns and their types?

In [25]:
# Show the column names and their types.
print(df_salary.dtypes)

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [33]:
# Rename ‚Äòem.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race

df_salary = df_salary.rename(columns={
    "Timestamp": "timestamp",
    "How old are you?": "age",
    "What industry do you work in?": "industry",
    "Job title": "title",
    "If your job title needs additional context, please clarify here:": "title_context",
    "What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)": "salary",
    "How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.": "additional_compensation",
    "Please indicate the currency": "currency",
    "If \"Other,\" please indicate the currency here:": "other_currency", # annoying 
    "If your income needs additional context, please provide it here:": "salary_context",
    "What country do you work in?": "country",
    "If you're in the U.S., what state do you work in?": "state",
    "What city do you work in?": "city",
    "How many years of professional work experience do you have overall?": "total_yoe",
    "How many years of professional work experience do you have in your field?": "field_yoe",
    "What is your highest level of education completed?": "highest_education_completed",
    "What is your gender?": "gender",
    "What is your race? (Choose all that apply.)": "race"
})

print(df_salary.dtypes)

timestamp                                           object
age                                                 object
industry                                            object
title                                               object
title_context                                       object
salary                                              object
additional_compensation                            float64
currency                                            object
If "Other," please indicate the currency here:      object
salary_context                                      object
country                                             object
state                                               object
city                                                object
total_yoe                                           object
field_yoe                                           object
highest_education_completed                         object
gender                                              object
race                                                object
dtype: object

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [34]:
# List the unique industries and a count of their instances.

industry_counts = df_salary['industry'].value_counts()

print(industry_counts)

industry
Computing or Tech                          4699
Education (Higher Education)               2464
Nonprofits                                 2419
Health care                                1896
Government and Public Administration       1889
                                           ...
Gaming (Gambling)                             1
Regulatory Affairs- nutraceuticals            1
Manufacturing : corporate admin support       1
Real Estate Investment Support                1
Wine & Spirits                                1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [35]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)

top_5_industries = df_salary['industry'].value_counts().head(5)
target_industry = top_5_industries.index[0] 
df_salary_tech = df_salary[df_salary['industry'] == target_industry]
print(df_salary_tech.head())

             timestamp    age           industry  \
1   4/27/2021 11:02:22  25-34  Computing or Tech
8   4/27/2021 11:03:01  45-54  Computing or Tech
43  4/27/2021 11:04:04  25-34  Computing or Tech
44  4/27/2021 11:04:04  25-34  Computing or Tech
46  4/27/2021 11:04:07  35-44  Computing or Tech

                                       title                 title_context  \
1   Change & Internal Communications Manager                           NaN
8                            Systems Analyst  Data developer/ETL Developer
43               Principal Software Engineer                           NaN
44                      Intelligence Analyst                           NaN
46                          Mobile developer                           NaN

     salary  additional_compensation currency  \
1    54,600                   4000.0      GBP
8   112,000                  10000.0      USD
43  187,500                   5000.0      USD
44  110,000                  20000.0      USD
46  144,600                   2500.0      USD

   If "Other," please indicate the currency here:   \
1                                              NaN
8                                              NaN
43                                             NaN
44                                             NaN
46                                             NaN

                   salary_context         country          state  \
1                             NaN  United Kingdom            NaN
8                             NaN              US       Missouri
43                            NaN   United States   Pennsylvania
44  Around 20,000 a year in stock             USA       Virginia
46                            NaN             USA  Massachusetts

             city      total_yoe      field_yoe highest_education_completed  \
1       Cambridge   8 - 10 years      5-7 years              College degree
8       St. Louis  21 - 30 years  21 - 30 years              College degree
43     Pittsburgh   8 - 10 years      5-7 years              College degree
44  Arlington, VA   8 - 10 years   8 - 10 years             Master's degree
46         Boston      5-7 years      5-7 years                         PhD

        gender   race
1   Non-binary  White
8        Woman  White
43       Woman  White
44         Man  White
46       Woman  White

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [36]:
# Sanity Check 

unique_industries_in_filtered = df_salary_tech['industry'].unique()
print(unique_industries_in_filtered)

['Computing or Tech']

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [38]:
# Filtery filter for just the jobs that pay in USD!

df_salary_usd = df_salary_tech[df_salary_tech['currency'] == 'USD']
print(df_salary_usd.head())

             timestamp    age           industry                        title  \
8   4/27/2021 11:03:01  45-54  Computing or Tech              Systems Analyst
43  4/27/2021 11:04:04  25-34  Computing or Tech  Principal Software Engineer
44  4/27/2021 11:04:04  25-34  Computing or Tech         Intelligence Analyst
46  4/27/2021 11:04:07  35-44  Computing or Tech             Mobile developer
47  4/27/2021 11:04:09  35-44  Computing or Tech      Product Design Director

                   title_context   salary  additional_compensation currency  \
8   Data developer/ETL Developer  112,000                  10000.0      USD
43                           NaN  187,500                   5000.0      USD
44                           NaN  110,000                  20000.0      USD
46                           NaN  144,600                   2500.0      USD
47                           NaN  200,850                  40000.0      USD

   If "Other," please indicate the currency here:   \
8                                              NaN
43                                             NaN
44                                             NaN
46                                             NaN
47                                             NaN

                   salary_context        country           state  \
8                             NaN             US        Missouri
43                            NaN  United States    Pennsylvania
44  Around 20,000 a year in stock            USA        Virginia
46                            NaN            USA   Massachusetts
47                            NaN            USA  North Carolina

             city      total_yoe      field_yoe highest_education_completed  \
8       St. Louis  21 - 30 years  21 - 30 years              College degree
43     Pittsburgh   8 - 10 years      5-7 years              College degree
44  Arlington, VA   8 - 10 years   8 - 10 years             Master's degree
46         Boston      5-7 years      5-7 years                         PhD
47    Chapel Hill  11 - 20 years  11 - 20 years              College degree

   gender   race
8   Woman  White
43  Woman  White
44    Man  White
46  Woman  White
47  Woman  White

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [39]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.

country_counts = df_salary_usd['country'].value_counts()
print(country_counts.head())

country
United States               1576
USA                         1222
US                           412
U.S.                         108
United States of America      90
Name: count, dtype: int64

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [40]:
# Replace them all with 'US'.

top_5_countries = df_salary_usd['country'].value_counts().head(5).index
df_salary_usd['country'] = df_salary_usd['country'].replace(top_5_countries, 'US')
print(df_salary_usd['country'].unique())

['US' 'United States ' 'U.S. ' 'US ' 'usa' 'United states'
 'United State of America' 'USA ' 'us' 'Usa' 'united states'
 'Uniyed states' 'U.S.A.' 'America' 'Puerto Rico ' 'U.s.' ' US'
 'Unite States' 'Us' 'United State' 'Australia' 'Cuba' 'Danmark' 'Canada'
 'Italy' 'International ' 'UnitedStates' 'Israel' 'India' 'United Stated'
 'U.S' 'Usa ' 'Remote (philippines)' 'Singapore'
 'United States Of America' 'Spain' 'United States of America ' 'Uruguay'
 'Brazil' 'Mexico' 'United Kingdom' 'Canada ' 'United Stateds' 'ISA'
 'singapore' 'Pakistan' 'united States' 'New Zealand' 'Poland' 'France'
 'Netherlands' 'China' 'San Francisco' 'Romania' 'United STates' 'Japan'
 'U.S.A' 'United Stares' 'United States of america' 'Australian '
 'Denmark' 'Jamaica' 'Unites States' 'Thailand' 'U.S.A ' 'Colombia'
 'denmark' 'Ghana' 'Nigeria ' 'ss' 'Nigeria' 'Burma']

/var/folders/50/5xz2f6g93zn5qf981wf_qb600000gn/T/ipykernel_20912/3929294134.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_usd['country'] = df_salary_usd['country'].replace(top_5_countries, 'US')

Have a look at the count of each unique country again now.

In [41]:
# Count again.
country_counts_after = df_salary_usd['country'].value_counts()

print(country_counts_after)

country
US                3408
United States       68
Usa                 59
USA                 56
usa                 28
                  ...
Mexico               1
United Stateds       1
ISA                  1
singapore            1
Burma                1
Name: count, Length: 72, dtype: int64

Did you notice anything interesting?

In [ ]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

In [ ]:

# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [42]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.

salary_stats_by_state = df_salary_usd.groupby('state')['salary'].agg(['min', 'mean', 'max'])

salary_stats_by_state = salary_stats_by_state.sort_values(by='mean', ascending=False)

print(salary_stats_by_state)

TypeError: agg function failed [how->mean,dtype->object]

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [43]:
# Fix it.
# remove commas and convert to numeric
df_salary_usd['salary'] = df_salary_usd['salary'].replace(',', '', regex=True).astype(float)

                                  min           mean        max
state
Michigan, Texas, Washington  340000.0  340000.000000   340000.0
California, Oregon           200000.0  200000.000000   200000.0
California, Colorado         176000.0  176000.000000   176000.0
Georgia, Massachusetts       175000.0  175000.000000   175000.0
Florida                       28800.0  157457.232143  2600000.0
...                               ...            ...        ...
Louisiana                     35360.0   83269.090909   150000.0
Massachusetts, Pennsylvania   83000.0   83000.000000    83000.0
California, Maryland          81500.0   81500.000000    81500.0
Arkansas                          4.0   74257.000000   144000.0
Alabama, Montana              72000.0   72000.000000    72000.0

[66 rows x 3 columns]

/var/folders/50/5xz2f6g93zn5qf981wf_qb600000gn/T/ipykernel_20912/3227393060.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_usd['salary'] = df_salary_usd['salary'].replace(',', '', regex=True).astype(float)

Let‚Äôs try that again.

In [44]:
# Try it again. Yeah!

# Group by 'state' and calculate min, mean, and max salary
salary_stats_by_state = df_salary_usd.groupby('state')['salary'].agg(['min', 'mean', 'max'])

# Sort by mean salary in descending order
salary_stats_by_state = salary_stats_by_state.sort_values(by='mean', ascending=False)

# Display the result
print(salary_stats_by_state)

                                  min           mean        max
state
Michigan, Texas, Washington  340000.0  340000.000000   340000.0
California, Oregon           200000.0  200000.000000   200000.0
California, Colorado         176000.0  176000.000000   176000.0
Georgia, Massachusetts       175000.0  175000.000000   175000.0
Florida                       28800.0  157457.232143  2600000.0
...                               ...            ...        ...
Louisiana                     35360.0   83269.090909   150000.0
Massachusetts, Pennsylvania   83000.0   83000.000000    83000.0
California, Maryland          81500.0   81500.000000    81500.0
Arkansas                          4.0   74257.000000   144000.0
Alabama, Montana              72000.0   72000.000000    72000.0

[66 rows x 3 columns]

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [46]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.

# Ensure the 'timestamp' column is in datetime format
df_salary_usd['timestamp'] = pd.to_datetime(df_salary_usd['timestamp'], errors='coerce')

df_salary_2021_2023 = df_salary_usd[df_salary_usd['timestamp'].dt.year.isin([2021, 2022, 2023])]

salary_stats_2021_2023 = df_salary_2021_2023.groupby('state')['salary'].agg(['min', 'mean', 'max'])

salary_stats_2021_2023 = salary_stats_2021_2023.sort_values(by='mean', ascending=False)

print(salary_stats_2021_2023)

                                    min           mean       max
state
Michigan, Texas, Washington    340000.0  340000.000000  340000.0
California, Oregon             200000.0  200000.000000  200000.0
California, Colorado           176000.0  176000.000000  176000.0
Georgia, Massachusetts         175000.0  175000.000000  175000.0
Alabama, District of Columbia  156000.0  156000.000000  156000.0
...                                 ...            ...       ...
Louisiana                       35360.0   83269.090909  150000.0
Massachusetts, Pennsylvania     83000.0   83000.000000   83000.0
Arkansas                        55000.0   81682.300000  144000.0
California, Maryland            81500.0   81500.000000   81500.0
Alabama, Montana                72000.0   72000.000000   72000.0

[66 rows x 3 columns]

/var/folders/50/5xz2f6g93zn5qf981wf_qb600000gn/T/ipykernel_20912/2820215178.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_usd['timestamp'] = pd.to_datetime(df_salary_usd['timestamp'], errors='coerce')

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)